
html,body{
  margin: 0;
  font-family: 'Spectral SC', serif;
  background-color: #D4AC64;
}
/**********************HEADER*****************************/

.header{
  width: 100%;
  height: 100px;
  background-image: url('brick3.jpg');
  background-size: 75%;
  font-family: 'Spectral SC', serif;
  margin-bottom: 25px;
}
.logo{
  font-size: 250%;
  float: left;
  vertical-align: middle;
  height: 100px;
  line-height: 100px;
  font-weight: bold;
  font-style: italic;
  color: white;
  margin-right: 20px;
}
.logo a{
  color: white;
  text-decoration: none;
}
.header .nav{
  padding-top: 22px;

}
.header .nav .menu-header-menu-links-container{

}
.header .nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}
.header .nav li{
  float: left;

}
.header .nav li a{
  font-size: 110%;
  display: block;
  color: white;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-weight: bold;

}
.header .nav li a:hover{
  background-color: #111;
}

li.current-menu-item {
background: #111;

}
/**********************HEADER*****************************/

/**********************MENU*****************************/

.menu_cat{
  padding: 10px 30px 10px 30px;
  text-align: center;
}

.menu_cat h2{
  padding-left: 30px;
  font-size: 150%;
  text-align: center;
}

.divider {
	width:90%;
	text-align:center;
  font-size: 200%;
  margin-left:  auto;
  margin-right: auto;
  margin-top: 10px;
}

.divider hr {
	margin-left:auto;
	margin-right:auto;
	width:40%;
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
.divider:before hr {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.left {
	float:left;
}

.right {
	float:right;
}


/**********************MENU*****************************/


/**********************MENU POST****************************
.menu_listing{
  width: 32.5%;
  height: 500px;
  display: inline-block;
  margin-right: 20px;
  background-color: white;
  background-repeat:no-repeat;
  background-position: center center;
   background-size:cover;
   margin-bottom: 20px;
   overflow: hidden;
}
*/

.post{
  /*background-color: #bc2626; */
  background-color: rgb(188, 38, 38,.3);
  color: #F3EFE3;
}


.menu_cat .menu_listing{
  margin-left: 5%;
}
.menu_listing{
  width: 32.5%;
  height: 500px;
  display: inline-block;
  margin-right: 20px;
  background-color: white;
  background-repeat:no-repeat;
  background-position: center center;
   background-size:cover;
   margin-bottom: 20px;
   overflow: hidden;
}
/* MENU LISTING HOVER */
  .overlay {
    background:rgba(0,0,0,.75);
    height: 85%;
    opacity:0;
    transition: opacity .25s ease-out;
    text-align:center;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .menu_listing:hover .overlay {
    opacity:1;
  }

  .hover-title{
    font-weight:900;
    color:rgba(255,255,255,.85);
    padding: 25px;
    font-size:170%;
  }

  .hover-text {
    font-weight:900;
    color:rgba(255,255,255,.85);
    font-size: 110%;
    padding: 15px;
  }


  .custom-button {
    border: 2px solid #fff;
    border-radius: 10px;
    height: 20px;
    width: auto;
    padding: 5px;
    color: #fff !important;
    text-decoration: none;
  }

/* MENU LISTING HOVER */

.menu_dropdown img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.menu_info{
  font-family: 'Spectral SC', serif;
  font-size: 120%;
  padding: 10px 0;
}
.menu_listing h2{
  padding: 20px 10px 0 30px;
  text-align: left;
}
.menu_listing h3{
  padding: 0px 30px 20px 30px;
}
.menu_dropdown{
  display: none;
  padding-left: 30px;
}

.sides .menu_listing{
  width: 26.5%;
  height: 400px;
  margin-left: 2%;
  margin-right: 5px;
}

.drinks .menu_listing{
  width: 20.5%;
  height: 300px;
  margin-left: 2%;
  margin-right: 5px;
}
.drinks p.hover-title{
  margin-top: 0;
  margin-bottom: 0;
}


@media only screen and (max-width: 1206px) {
    .main .divider hr {
        width: 30%;
    }
}
@media only screen and (max-width: 1000px) {
    .main .menu_listing {
        height: 400px;
    }
    .sides .menu_listing{
        height: 300px
    }
    .main p.hover-title{
      margin-top: 0;
      margin-bottom: 0;
      font-size: 140%;
      padding: 15px;
    }
    .sides p.hover-title{
      margin-top: 0;
      margin-bottom: 0;
      font-size: 140%;
      padding: 15px;
    }
    .drinks p.hover-title{
      font-size: 120%;
      padding: 5px;
    }
    .drinks p.hover-text{
      padding: 5px;
    }
}
@media only screen and (max-width: 700px) {
    .main .menu_listing {
        height: 300px;
    }
    .drinks .menu_listing{
        height: 250px
    }
}
@media only screen and (max-width: 635px) {
    .divider hr {
        width: 20%;
    }
}
/**********************MENU POST*****************************/


/**********************COUPON POST*****************************/

.coupon_listing{
background-color: blue;
padding-bottom: 20px;
}
.coupon_listing h2{
  padding: 20px 10px 0 30px;
  text-align: left;
  font-size: 250%;
  margin-bottom: 0;
}
.coupon_listing h3{
  margin-top: -5px;
  font-size: 100%;
}
.coupon_listing p{
  padding-left:30px;
  margin-top: 0;
  margin-bottom: 5px;
}

/**********************COUPON POST*****************************/





/**********************CONTACT / FIND US*****************************/
.contact_half{
  background-color: rgb(188, 38, 38,.3);
  width: 45%;
  display: inline-block;
  height: 650px;
  margin: 10px;
  font-size: 115%;
  padding: 15px;
}

.contact_half h1{
  text-align:  center;
}

.contact_half h3{
  display: inline-block;
  margin-top: 10px;
}
.contact_half h4{
  display: inline-block;
  margin-top: 5px;
}
.contact_half p{
  display: inline;
}
#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -10px;
}

.contact_half iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**********************CONTACT / FIND US*****************************/


/**************************ABOUT US*****************************/

.about_us{

}
.about_us img{
  width: 45%;
  height: 700px;
}


/**************************ABOUT US*****************************/



/**********************  SINGLE FOOD  *****************************/

.single_wrapper  {

}
.single_wrapper h1{
  text-align: center;
  font-size: 350%;
}
.single_wrapper h2{
  text-align: center;
  font-size: 200%;
  margin-top: -30px;
}
.single_wrapper #text{
  padding-left: 80px;
  margin-top: 80px;
  font-size: 130%;
}
.banner{
  width: 95%;
  height: 500px;
  margin-bottom: 20px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/**********************  SINGLE FOOD  *****************************/
